#produtosContainer
		{
			position: absolute;
			height: 75%;
			width: 85%;
			border-style: solid;
			border-color: red;
			bottom: 0%;
			left: 6%;
		}

#sugestoesFarmaLiv
		{
			position: absolute;
			border-style: solid;
			border-color: black;
			width: 43%;
			height: 12%;
			left: 5%;
		}


.produtos

{
		float: left;
		height: 100%;
		width: 20%;
		margin: 5%;
		border-style: solid;
		border-color: black;
		
		
					}